.breaking-track{

display:flex;

width:max-content;

animation:
breaking-loop 2s linear infinite;

}



.breaking-group{

display:flex;

align-items:center;

flex-shrink:0;

}



.breaking-item{

display:flex;

align-items:center;

gap:25px;

padding-right:40px;

white-space:nowrap;

font-size:16px;

font-weight:600;

color:#27272a;

}



.breaking-item span{

color:#dc2626;

font-size:22px;

}




@keyframes breaking-loop{


from{

transform:translateX(0);

}


to{

transform:translateX(-50%);

}


}